*{
	margin:0px;
	padding: 0px;
}
/*头部图片*/


/*分割线*/
.s-company {
      margin-top: 20px;
}
.row .company p {
    font-weight: bold;
    font-size: 20px;
}

.row .companys {
      float: right;

    color: #696969;
}
.row .companys p{
   
      font-size: 20px;
}
/*线条*/
.wanp {
    border-bottom: 1px solid #DCDCDC;
}



/*主体部分*/
.s-main   {
    padding-top: 20px;     
}





.xk1 p{
	color: #696969;
}




.xk3 p{
	color: #000;
}

/*底部*/
.footer {
   width: 1100px;
    height: 180px;
    background-color: #DCDCDC;
    margin-top: 10px;
    margin-left: 360px;
}

.footer-logo{
  margin-left: 50px;

}

.footer-logo img {
   margin-left: 150px;
      margin-top:40px;

}


.footer-er  {
   margin-left: 120px;
   margin-top:20px;


}
.footer-er p {
     margin-left: 20px;
}