
*{
  margin:0;
  padding: 0;
}
/*导航栏*/
.header-home {
    box-shadow: 0px 2px 4px rgba(1, 1, 1, 0.15);
    height: 54px;
    padding-top: 7px;
    width: 100%;
    opacity: 0.85;
    background-color: #fff;
}
.row .header-nav {
  margin-top: -4px;

}
.row .header-nav li {
  list-style: none;
  background:url(../images/nav-logo.PNG) no-repeat;
  float: left;
  line-height:40px;
  margin-left: 30px;
  margin-top:2px;
  width: 100px;
}
.row .header-nav a {
  text-decoration: none;
    color: #fff;
    padding-left: 20px;
    font-size: 14px;
}
/* end 头部样式*/


/*轮播图片*/
.s-pic  {
 
    margin-top: 57px;
}
/*end轮播图片*/

/*分割线*/
.s-company {
      margin-top: 20px;
}
.row .company p {
    font-weight: bold;
    font-size: 20px;
}

.row .companys {
      float: right;

    color: #696969;
}
.row .companys p{
   
      font-size: 20px;
}

/*线条*/
.wanp {
    border-bottom: 1px solid #DCDCDC;
}

/*资讯中心*/

.we {
    padding-top: 20px;
    font-size: 25px;
    font-weight: bold;
}
.wanps {
    border-bottom: 1px solid #000;
}


/*中间图片文字部分*/
.wanpse {
    width: 1143px;
    border: 1px solid #668B8B;
    height: 180px;
    }


/*end中间图片文字部分*/
/*底部*/
.footer {
   width: 1100px;
    height: 180px;
    background-color: #DCDCDC;
       margin-left: -261px;
    margin-top: 10px;
}

.footer-logo{
  margin-left: -32px

}

.footer-logo img {
   margin-left: 150px;
      margin-top:40px;

}


.footer-er  {
      margin-left: -110px;
    margin-top: -5px;

}
.footer-er p {
     margin-left: 20px;
}

